
@{
    ViewData["Title"] = "Nicholas R Johnson - Admin";
} 
<div class="container-fluid" style="margin-top: 100px; margin-bottom: 100px;">
  <div class="container">
        <h4>@ViewData["Title"]</h4>
        <partial name="_StatusMessage" model="Model.StatusMessage" />

        <ul>
          <li>@Html.ActionLink("Change Your Phone Number", "ChangePhoneNumber", "Admin")</li>
          <li>@Html.ActionLink("Change Your Email", "ChangeEmail", "Admin")</li>
          <li>@Html.ActionLink("Change Password", "ChangePassword", "Admin")</li>
          <li>@Html.ActionLink("Personal Data", "PersonalData", "Admin")</li>
        </ul>
  </div>
</div> 